/* MAP STYLES */
#app-content-wrapper #app-content {
    padding: 120px 0 0 5px;
}

#app-navigation li {
    list-style-type: none;
}

#map {
    width: 100%;
    height: 100%;
}

#erfp-info {
    width: 40%;
    top: 50px;
    right: 5px;
    text-align:center;
    background: white;
}

#erfp-reset {
    display: inline-block;
    float: right;
}

.units-toggle {
    top: 5px;
    right: 40px;
}

.erfp-select {
    margin-left: 5%;
    display: inline-block;
    width: 60%;
}

.collapse-control a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table-overflow {
    overflow-x:scroll;
}

.table-button {
    width: 60px;
}

.inline-block {
    display: inline-block;
}