{% extends "erfp_tool/base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}

{% block app_content %}
    <div id="message" class="alert alert-danger hidden" role="alert"></div>
    <h1>Add a Watershed</h1>
    {% gizmo text_input watershed_name_input %}
    <p class="help-block">This is the name in the data store server or folder name on local instance</p>
    {% gizmo text_input subbasin_name_input %}
    <p class="help-block">This is the name in the data store server or KML file name on local instance</p>

    <h3>Data Storage Input</h3>
    <em>This is where the predictions are stored.</em><br/><br/>
    {% gizmo select_input data_store_select %}
    <p class="help-block">Don't see the data store you want? Add one <a href="{% url 'erfp_tool:add-data-store' %}">here</a>.</p>

    <h3>Geoserver Location</h3> 
    <em>Where the reach and catchbasin files are stored.</em><br/><br/>
    {% gizmo select_input geoserver_select %}
    <p class="help-block">Don't see the geoserver you want? Add one <a href="{% url 'erfp_tool:add-geoserver' %}">here</a>.</p>
    {% gizmo toggle_switch shp_upload_toggle_switch %}
    <!-- Drainage Line !-->
    {% gizmo text_input geoserver_drainage_line_input %}
    <div class="form-group kml">
        <label class="control-label" for="drainage-line-kml-upload-input">Drainage Line KML File</label>
        <input id="drainage-line-kml-upload-input" name="drainage-line-kml-upload-input" type="file" accept=".kml">
        <p class="help-block hidden">Must select file to submit!</p>
    </div>
    <p class="help-block kml">This is the KML file representing the river network.</p>
    <div class="form-group shapefile upload hidden">
        <label class="control-label" for="drainage-line-shp-upload-input">Drainage Line Shapefile</label>
        <input id="drainage-line-shp-upload-input" name="drainage-line-shp-upload-input" type="file" accept=".shp,.shx,.prj,.dbf" multiple>
        <p class="help-block hidden">Must select file to submit!</p>
    </div>
    <p class="help-block shapefile upload hidden">This is the shapefile file representing the river network. Need .shp, .shx, .prj, .dbf files.</p>
    <!-- Catchments !-->
    {% gizmo text_input geoserver_catchment_input %}
    <div class="form-group kml">
        <label class="control-label" for="catchment-kml-upload-input">Catchment KML File</label>
        <input id="catchment-kml-upload-input" name="catchment-kml-upload-input" type="file" accept=".kml">
    </div>
    <p class="help-block kml">This is the KML file representing the watershed basin.</p>
    <div class="form-group shapefile upload hidden">
        <label class="control-label" for="catchment-shp-upload-input">Catchment Shapefile</label>
        <input id="catchment-shp-upload-input" name="catchment-shp-upload-input" type="file" accept=".shp,.shx,.prj,.dbf" multiple>
    </div>
    <p class="help-block shapefile upload hidden">This is the shapefile file representing the watershed basin. Need .shp, .shx, .prj, .dbf files.</p>
    <!-- gage Stations !-->
    {% gizmo text_input geoserver_gage_input %}
    <div class="form-group kml">
        <label class="control-label" for="gage-kml-upload-input">Gage KML File</label>
        <input id="gage-kml-upload-input" name="gage-kml-upload-input" type="file" accept=".kml">
    </div>
    <p class="help-block kml">This is the KML file representing the gage stations.</p>
    <div class="form-group shapefile upload hidden">
        <label class="control-label" for="gage-shp-upload-input">Gage Shapefile</label>
        <input id="gage-shp-upload-input" name="gage-shp-upload-input" type="file" accept=".shp,.shx,.prj,.dbf" multiple>
    </div>
    <p class="help-block shapefile upload hidden">This is the shapefile file representing the gage stations. Need .shp, .shx, .prj, .dbf files.</p>
{% gizmo button_group add_button %}
{% endblock %}

{% block app_navigation_items %}
  {{ block.super }}
  <li class="separator"></li>
  <li><a href="">Information</a></li>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'erfp_tool/js/add_watershed.js' %}" type="text/javascript"></script>
{% endblock %}