{% extends "erfp_tool/base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'erfp_tool/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_content %}
    <h1>Add a Geoserver</h1>
    <h3>KML Geoserver Location</h3> 
    <em>Where the reach and catchbasin KML files are stored.</em><br/><br/>
    {% gizmo text_input geoserver_location_input %}
    {% gizmo button_group add_button %}
{% endblock %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'erfp_tool:home' %}">Map</a></li>
  <li><a href="{% url 'erfp_tool:settings' %}">Settings</a></li>
  <li><a href="{% url 'erfp_tool:add-watershed' %}">Add a Watershed</a></li>
  <li><a href="{% url 'erfp_tool:add-data-store' %}">Add a Data Store</a></li>
  <li class="active"><a href="{% url 'erfp_tool:add-geoserver' %}">Add a GeoServer</a></li>
  <li class="separator"></li>
  <li><a href="">Information</a></li>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'erfp_tool/js/add_geoserver.js' %}" type="text/javascript"></script>
{% endblock %}