{% extends "erfp_tool/base.html" %}

{% load staticfiles %}

{% block app_content %}
<div id="welcome"></div>
<h1>Getting Started</h1>
<p><strong>**The steps must be completed in the order given for the app to function properly**</strong></p>
<p>
    To make reading and executing these instructions as easy as possible, we recommend that you open up another 
    instance of the Streamflow Prediction Tool in a new window, using one window to read and the other to execute.
</p>
<p>
    <strong>Click <a href="#" target="_blank">here</a> to open a new window.</strong>
</p>
<p>To jump to a specific section, click its name in this list:</p>
<ol>
    <b><li><a href="#" id="adjust-settings-link" class="t-o-c">Adjust your Settings</a></li>
    <li><a href="#" id="add-geoserver-link" class="t-o-c" >Add a Geoserver</a></li>
    <li><a href="#" id="add-data-store-link" class="t-o-c">Add a Data Store</a></li>
    <li><a href="#" id="add-watershed-link" class="t-o-c">Add a Watershed</a></li>
    <li><a href="#" id="view-watershed-link" class="t-o-c">View a Watershed</a></li></b>
</ol>
<ol>
    <h2><li id="adjust-settings">Adjust your Settings</li></h2>        
        <p>
            On the <strong>left menu bar</strong> under the <strong>Configuration</strong> 
            heading click the <strong>Settings</strong> option.
        </p>
        <p>You should see the following screen:</p>
        <br>        
        <img src="{% static 'erfp_tool/images/screenshot_settings.png' %}" class="screenshots">
        <br><br>        
        <p>
            This page contains the settings that pertain to your instance of the Streamflow Prediction
            Tool. A description of each field shown is given here:
        </p>
        <p>
            <ul>
                <h4><li>App ID</li></h4>
                    <p>This is the ID assigned to your instance of the app. It is used for certain background tasks.</p>
                <h4><li>Select a Base Layer</li></h4>
                    <p>
                        The dropdown box contains three options: MapQuest, Esri, or BingMaps. This specifies the
                        source from which your map will be drawn in the map viewer.
                    </p>                       
                <h4><li>Base Layer API Key</li></h4>
                    <p>
                        This option only appears when the BingMaps base layer is selected. An API key must be provided
                        or the map will not function properly. If you would like to use a BingMaps base layer but
                        don't know how to get a Bing Maps key, click 
                        <a href="https://msdn.microsoft.com/en-us/library/ff428642.aspx" target="_blank">here</a>.
                    </p>
                <h4><li>Server Folder Location of...</li></h4>
                    <p>
                        There are three fields each corresponding to a different server foler location: one for ECMWF-RAPID files,
                        one for ERA Interim RAPID files, and one for WRF-Hydro RAPID files. In each case, a local (existing
                        on your computer) directory (folder) must be specified wherein the associated files are either currently found or will
                        soon be placed.<br><br>
                        NOTE: Each folder must have read and write permissions granted. To change permissions, locate the folder, right click on it and select
                        either "Get Info" (MAC users), or "Properties" (Linux or Windows users). There will be a tab containing 
                        "Permissions" in its heading. Choose to change or edit these permissions and set them to both Read and Write.
                        There is also a much easier way if you are familiar with the Terminal. Simply type: <code>chmod - R 666 [directory path]</code>.
                    </p>                       
            </ul>
    <h2><li id="add-geoserver">Add a Geoserver</li></h2>
        <p>
            On the <strong>left menu bar</strong> under the <strong>Add</strong> 
            heading click the <strong>Add a Geoserver</strong> option.
        </p>
        <p>You should see the following screen:</p>
        <img src="{% static 'erfp_tool/images/screenshot_add_geoserver.png' %}" class="screenshots">
        <br><br>        
        <p>
            On this page you will add the geoserver that you will be working with. You can add as many geoservers as you would like. 
            These can later be managed (updated/deleted) on the <strong>Manage Geoservers</strong> page located on 
            the <strong>left menu bar</strong> under the <strong>Manage</strong> heading.
            For each geoserver you add, all fields shown must be completed. A description of each field is given here:
        </p>
        <p>
            <ul>
                <h4><li>Geoserver Name</li></h4>
                    <p>
                        Since you can add multiple geoservers, a unique name must be given to help you recognize each one.
                        This name can be anything you would like.
                    </p>
                <h4><li>Geoserver Url</li></h4>
                    <p>
                        This is the specific URL of your geoserver. NOTE: This URL <em>must</em> end in "/geoserver".
                    </p>                       
                <h4><li>Geoserver Username</li></h4>
                    <p>
                        This is a username you choose to associate with your geoserver.
                    </p>
                <h4><li>Geoserver Password</li></h4>
                    <p>
                        This is a password you choose to associate with your geoserver.
                    </p>                       
            </ul>
    <h2><li id="add-data-store">Add a Data Store</li></h2>
        <p>
            On the <strong>left menu bar</strong> under the <strong>Add</strong> 
            heading click the <strong>Add a Data Store</strong> option.
        </p>
        <p>You should see the following screen:</p>
        <img src="{% static 'erfp_tool/images/screenshot_add_data_store.png' %}" class="screenshots">
        <br><br>        
        <p>
            On this page you will add the data store that you will be working with. You can add as many data stores as you would like.
            These can later be managed (updated/deleted) on the <strong>Manage Data Stores</strong> page located on 
            the <strong>left menu bar</strong> under the <strong>Manage</strong> heading.            
            For each data store, the fields shown must be completed. A description of each field is given here:
        </p>
        <p>
            <ul>
                <h4><li>Data Store Server Name</li></h4>
                    <p>
                        Since you can add multiple data stores, a unique name must be given to help you recognize each one.
                        This name can be anything you would like.
                    </p>
                <h4><li>Data Store Type</li></h4>
                    <p>
                        This is the type of your data store. There are two options: CKAN or Hydroshare. CKAN is the only functional option at the moment.
                        The Hydroshare capability will be added in the future.
                    </p>                       
                <h4><li>Data Store API Endpoint</li></h4>
                    <p>
                        This is the the URL of your data store. NOTE: This URL <em>must</em> end in "/api/3/action". 
                    </p>
                <h4><li>Data Store API Key</li></h4>
                    <p>
                        This is the unique key associated with the above data store API endpoint.
                    </p>                       
            </ul>
    <h2><li id="add-watershed">Add a Watershed</li></h2>
        <p>
            On the <strong>left menu bar</strong> under the <strong>Add</strong> heading click the <strong>Add a Watershed</strong> option.
        </p>
        <p>You should see the following screen:</p>
        <img src="{% static 'erfp_tool/images/screenshot_add_watershed.png' %}" class="screenshots">
        <br><br>        
        <p>
            On this page you will add the watershed that you will be working with. You can add as many watersheds as you would like.
            These can later be managed (updated/deleted) on the <strong>Manage Watersheds</strong> page located on 
            the <strong>left menu bar</strong> under the <strong>Manage</strong> heading.            
            As this is a dynamic form, the total fields required will be based upon your selection in previous fields. A description of each possible field is given here:
        </p>
        <p>
            <ul>
                <h4><li>Watershed Display Name</li></h4>
                    <p>
                        Since you can add multiple watersheds, a unique name must be given to help you recognize each one.
                        This name can be anything you would like.
                    </p>
                <h4><li>Subbasin Display Name</li></h4>
                    <p>
                        Since you can add multiple watersheds, each with its own subbasin, a unique name must be given to help you recognize each one.
                        This name can be anything you would like.
                    </p>                       
                <h4><li>Select a Data Store</li></h4>
                    <p>
                        Whether you added a new data store or not, there is always at least one option: "Local Server (local)". This is a data store that cannot be tampered with. This option is not associated with any unique additional fields. The other options in the
                        drop-down will correspond to the data stores that you have added previously. If one of the data stores added by you is selected, there are
                        various additional fields that appear.
                    </p>
                        <ul>
                            <h6><li>ECMWF Watershed Data Store Name</li></h6>
                                <p>This is the name of the ECMWF watershed as it will be recorded on the data store server. Thus, this name differs from the display name given above.</p>
                            <h6><li>ECMWF Subbasin Data Store Name</li></h6>
                                <p>This is the name of the ECMWF subbasin as it will be recorded on the data store server. Thus, this name differs from the display name given above.</p>
                            <h6><li>ECMWF RAPID Input Files (Optional)</li></h6>
                                <p>You can choose to upload RAPID input files for your watershed if you have them.</p>
                            <h6><li>WRF-Hydro Watershed Data Store Name</li></h6>
                                <p>This is the name of the WRF-Hydro watershed as it will be recorded on the data store server. Thus, this name differs from the display name given above.</p>
                            <h6><li>WRF-Hydro Subbasin Data Store Name</li></h6>
                                <p>This is the name of the WRF-Hydro subbasin as it will be recorded on the data store server. Thus, this name differs from the display name given above.</p>

                        </ul>
                    </p>
                <h4><li>Select a Geoserver</li></h4>
                    <p>Whether you added a new data store or not, there is always at least one option: "Local Server (media)". This is a geoserver that cannot be tampered with. There are three additional fields associated with this option.</p>
                        <ul>
                            <h5><li> Local Server (media) <br></h5>
                            <ul>
                                <h6><li>Drainage Line KML File</li></h6>
                                    <p>You can upload a drainage line KML by choosing the file from your computer. This drainage line file is required as a bare minimum.</p>
                                <h6><li>Catchment KML File (Optional)</li></h6>
                                    <p>You can upload a catchment KML by choosing the file from your computer. This is optional, as a watershed is funcional without it.</p>
                                <h6><li>Gage KML File (Optional)</li></h6>
                                    <p>You can upload a gage KML by choosing the file from your computer. This is optional, as a watershed is funcional without it.</p>
                            </ul>
                            </li>
                            The other options in the drop-down will correspond to the geoservers that you have added previously. If one of these geoservers added by you is selected, there are
                            various additional fields that appear.
                            <h5><li> (Custom Geoserver)<br></h5>
                            <ul>
                                <h6><li>Upload Shapefile?</li></h6>
                                    <p> You can upload your own shapefiles to the selected geoserver if you have the files on your computer.
                                    <ul>
                                        <h6><li>Yes</li></h6>
                                            <p>If "Yes" is selected, you will get the following options:</p>
                                                <ul>
                                                    <h6><li>Drainage Line Shapefile</li></h6>
                                                        <p>You can upload a drainage line shapefile by choosing the file from your computer. This drainage line file is required as a bare minimum.</p>
                                                    <h6><li>Catchment Shapefile (Optional)</li></h6>
                                                        <p>You can upload a catchment shapefile by choosing the file from your computer. This is optional, as a watershed is funcional without it.</p>
                                                    <h6><li>Gage Shapefile (Optional)</li></h6>
                                                        <p>You can upload a gage shapefile by choosing the file from your computer. This is optional, as a watershed is funcional without it.</p>
                                                    <h6><li>AHPS Station Shapefile (Optional)</li></h6>
                                                        <p>You can upload an AHPS station shapefile by choosing the file from your computer. This is optional, as a watershed is funcional without it.</p>
                                                </ul>
                                    </ul>
                                    <ul>
                                        <h6><li>No</li></h6>
                                            <p>If "No" is selected, you will get the following options:</p>
                                                <ul>
                                                    <h6><li>Geoserver Drainage Line Layer</li></h6>
                                                        <p>If this layer has already been uploaded previously to the selected geoserver (either by you or by someone else), you can specify the name of this layer as it is found on the geoserver.</p>
                                                    <h6><li>Geoserver Catchment Layer</li></h6>
                                                        <p>If this layer has already been uploaded previously to the selected geoserver (either by you or by someone else), you can specify the name of this layer as it is found on the geoserver.</p>
                                                    <h6><li>Geoserver Gage Layer</li></h6>
                                                        <p>If this layer has already been uploaded previously to the selected geoserver (either by you or by someone else), you can specify the name of this layer as it is found on the geoserver.</p>
                                                    <h6><li>Geoserver AHPS Station Layer</li></h6>
                                                        <p>If this layer has already been uploaded previously to the selected geoserver (either by you or by someone else), you can specify the name of this layer as it is found on the geoserver.</p>
                                                </ul>
                                    </ul>        
                            </ul>
                            </li>
                    </ul>
        </ul>
    <h2><li id="view-watershed">View a Watershed</li></h2>
        <p>
            On the <strong>left menu bar</strong> under the <strong>App Navigation</strong> heading click the <strong>Select Watershed(s)</strong> option.
        </p>
        <p>You should see the following screen:</p>
        <img src="{% static 'erfp_tool/images/screenshot_view_watershed.png' %}" class="screenshots">
        <br><br>        
        <p>
            Under the Select a Watershed heading is an empty field that when clicked will create a drop-down list of all of the watersheds that you have added. Simply select one (or more if you would like to 
            view multiple simultaneously) and then click View Watersheds. NOTE: Viewing multiple watersheds simultaneously could cause the load time to increase significantly.
            
</ol>
{% endblock %}