{% extends "erfp_tool/base.html" %}

{% load staticfiles %}

{% block global_scripts %}
  {{ block.super }}
  <script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
  <script src="{% static 'erfp_tool/vendor/highcharts/highcharts.js' %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'erfp_tool/css/main.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
{% endblock %}

{% block app_content %}
    <div id="map" class="map" kml-urls="{{kml_urls}}"></div>
    <div id="erfp-chart" class="ol-control">
        Click on a reach to view flow predictions.</div>
{% endblock %}

{% block app_navigation_items %}
    <li class="title collapse-control">
        <a class="closeall" data-toggle="collapse" data-target="#mapNavigation">
          Watersheds
        </a>
    </li>
    <div id="mapNavigation" class="collapse in"><ul>

    {{ map_navigation | safe }}
 
    </ul></div> <!-- div: mapNavigation -->

    <li class="title collapse-control">
        <a data-toggle="collapse" data-target="#congiguration">
          Configuration
        </a>
    </li>
    <div id="congiguration" class="collapse in">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="{% url 'erfp_tool:home' %}">Map</a></li>
          <li><a href="{% url 'erfp_tool:settings' %}">Settings</a></li>
          <li><a href="{% url 'erfp_tool:add-watershed' %}">Add a Watershed</a></li>
          <li><a href="{% url 'erfp_tool:add-data-store' %}">Add a Data Store</a></li>
          <li><a href="{% url 'erfp_tool:add-geoserver' %}">Add a GeoServer</a></li>
        </ul>
    </div>

  <li class="separator"></li>
  <li><a href="">Information</a></li>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- <script src="{% static 'erfp_tool/js/main.js' %}" type="text/javascript"></script> -->
  <script src="{% static 'erfp_tool/js/map.js' %}" type="text/javascript"></script>
{% endblock %}